@import './styles/variables';
@import './styles/mixins';

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
  }

  &__content {
    flex: 1;
    display: flex;
    gap: 16px;
    padding: $spacing-lg 16px $spacing-lg 16px;
  }
}
